<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andrewchelladurai.simplebible">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SbTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.SimpleBibleMainScreen"
            android:theme="@style/SbTheme.Home.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BooksScreen"
            android:theme="@style/SbTheme.BooksScreen"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".ui.ChapterScreen"
            android:theme="@style/SbTheme.ChapterScreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".ui.BookmarkScreen"
            android:theme="@style/SbTheme.Red" />
        <activity
            android:name=".ui.SearchScreen"
            android:theme="@style/SbTheme.Yellow"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".ui.BookmarkListScreen"
            android:theme="@style/SbTheme.Red" />
    </application>

</manifest>
