<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewchelladurai.simplebible">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/SBTheme">
        <activity
            android:name=".SimpleBibleActivity"
            android:configChanges="keyboard|orientation"
            android:label="@string/title_activity_simple_bible"
            android:theme="@style/SBTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookmarkActivity"
            android:configChanges="keyboard|orientation"
            android:label="@string/activity_bookmark_title"
            android:parentActivityName=".SimpleBibleActivity"
            android:theme="@style/SBTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewchelladurai.simplebible.SimpleBibleActivity" />
        </activity>
        <activity
            android:name=".ChapterListActivity"
            android:label="@string/title_chapter_list"
            android:parentActivityName=".SimpleBibleActivity"
            android:theme="@style/SBTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewchelladurai.simplebible.SimpleBibleActivity" />
        </activity>
        <activity
            android:name=".ChapterActivity"
            android:label="@string/title_chapter_detail"
            android:parentActivityName=".ChapterListActivity"
            android:theme="@style/SBTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewchelladurai.simplebible.ChapterListActivity" />
        </activity>
        <activity
            android:name = ".SettingsActivity"
            android:label = "@string/title_activity_settings"
            android:parentActivityName = ".SimpleBibleActivity">
            <meta-data
                android:name = "android.support.PARENT_ACTIVITY"
                android:value = "com.andrewchelladurai.simplebible.SimpleBibleActivity" />
        </activity>
    </application>

</manifest>
