<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~ Andrew Chelladurai - - TheUnknownAndrew[at]GMail[dot]com
  ~
  ~ This Application is available at location
  ~ https://play.google.com/store/apps/developer?id=Andrew+Chelladurai
  ~
  -->

<manifest package="com.andrewchelladurai.simplebible"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme">
        <activity
            android:name=".Activity_Welcome"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_VerseViewer"
            android:label="@string/title_activity_verse_viewer"
            android:parentActivityName=".Activity_Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity_Welcome"/>
        </activity>
        <activity
            android:name=".Activity_Settings"
            android:label="@string/title_activity_activity__settings"
            android:parentActivityName=".Activity_Welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.andrewchelladurai.simplebible.Activity_Welcome"/>
        </activity>
    </application>

</manifest>
